@use "./admin_table" as *;
@use "./variables" as *;
.workers {
  padding: 0 1%;
  .workers-name {
    font-size: 18px;
    font-weight: 500;
    color: #424242;
  }
  .workers-desc {
    font-size: 13px;
    font-weight: 400;
    color: #757575;
  }
}
.dashboard.workers {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 1%;
  .allcard {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    .profile-h3 {
      display: flex;
      align-items: flex-start;
      height: 30px;
    }
    &.total {
      border-left: 5px solid #0f71f2;
    }

    &.done {
      border-left: 5px solid $bingprime-done;
    }

    &.confirmed {
      border-left: 5px solid #893bee;
    }

    .card-desc {
      font-size: 0.875rem;
      margin-top: 5px;
      color: #6b7280;
    }
  }
}
.mr-3 {
  margin-right: 3px;
}
.search-bar {
  display: flex;
  align-items: center;
  margin-top: 15px;
  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  & .search-select {
    width: 110px;
    height: 36px;
    background: #f5f5f5;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    color: #424242;
    padding: 5px;
    cursor: pointer;
  }
  & .search-input {
    width: 600px;
    height: 36px;
    border: 1px solid #bdbdbd;
    border-radius: 8px;
    padding: 5px;
    @include mobile {
      width: 360px;
    }
  }
  & .search-button {
    width: 82px;
    height: 36px;
    background: #1456fd;
    border-radius: 8px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
  }
  & .addWorker {
    width: 82px;
    height: 32px;
    background: #1456fd;
    color: #ffffff;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
    margin-left: auto;
  }
}
.btnbox {
  & .workers-detail-icon {
    display: inline-block;
    margin: 0 3px 2px 0;
  }
  & .workers-detail-btn {
    width: 56px;
    height: 24px;
    background: #616161;
    color: #ffffff;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 400;
  }
}
// 뱃지 스타일 공통
%status-badge {
  display: block;
  color: #fff;
  border-radius: 10px;
  font-size: 11px;
  padding: 3%;
  margin: 0 auto;
  @include mobile {
    margin: 0;
  }
}

// 상태 뱃지
.wkstatusbox-done {
  @extend %status-badge;
  background-color: #9e9e9e;
}
.wkstatusbox-waiting {
  @extend %status-badge;
  background-color: #9e9e9e;
}
.wkstatusbox-assigned {
  @extend %status-badge;
  background-color: $bingprime-done;
}
.wkstatusbox-confirmed {
  @extend %status-badge;
  background-color: $bingprime-done;
}
