@use "./variables" as *;
.review {
  width: 100%;
}
.review-title-box {
  padding-top: 140px;
  text-align: center;
  .review_subtitle {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
    color: #212121;
    margin-bottom: 80px;
  }
}
.review-logo-box {
  display: flex;
  flex-direction: column;
  gap: 35px;
  .review-logo-top,
  .review-logo-bottom {
    margin: auto;
    width: 80%;
    // background-color: pink;
    .swiper-wrapper {
      align-items: center;
    }
    .swiper-slide {
      text-align: center;
    }
  }
}

.review-box-total {
  margin-top: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  .review-box {
    width: 100%;
    max-width: calc(25% - 12px);
    padding: 26px;
    flex: 1 1 calc(25% - 12px); // 4개가 한 줄에 보이도록
    border-radius: 15px;
    background-color: #f2f9ff;
    .review-box-txt {
      font-size: 13px;
      font-weight: 500;
      line-height: 1.4;
      color: #424242;
      // margin-bottom: 25px;
    }
    .review-customer {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-top: 25px;
    }
  }
}

// 고객리뷰 상세
// 상단 배너
.banner_bg {
  width: 100%;
  height: 990px;
  margin-top: 80px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 30%,
    rgba(255, 255, 255, 0.2) 70%,
    rgba(255, 255, 255, 0.25) 100%
  );
  .banner_container {
    position: relative;
    display: flex;
    height: 990px;
    padding-top: 245px;
    // background-color: rgb(248, 225, 228);
    .banner_event {
      display: inline-block;
      position: relative;
      font-size: 24px;
      font-weight: 600;
      color: $bingfree-main;
    }
    .banner_event::after {
      content: "";
      position: absolute;
      bottom: 6px;
      left: 0;
      width: 100%;
      height: 8px;
      background-color: $bingfree-point;
      z-index: -1;
    }

    button {
      width: 170px;
      height: 65px;
      color: $bingfree-main;
      @include text-style(24px, 700);
      font-family: "Pretendard", sans-serif;
      background-color: $bingfree-point;
      border-style: none;
      border-radius: 14px;
      margin-top: 60px;
      cursor: pointer;
      transition: transform 0.2s ease-out, background-color 0.2s;
    }

    .txt_box {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background-color: #ffffff;
      box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.15);
    }
    .txt_box1 {
      position: absolute;
      top: 120px;
      right: 180px;
      width: 480px;
      height: 120px;
      .emoji_face1 {
        position: absolute;
        top: 20px;
        right: -70px;
      }
    }
    .txt_box2 {
      position: absolute;
      top: 420px;
      right: 0px;
      width: 500px;
      height: 120px;
      .emoji_face2 {
        position: absolute;
        left: -100px;
        top: 20px;
      }
    }
    .txt_box3 {
      position: absolute;
      bottom: 180px;
      right: 240px;
      width: 500px;
      height: 120px;
      .emoji_face3 {
        position: absolute;
        top: 5px;
        right: -140px;
      }
    }
  }
}

// 본문
// radio
.review_radio_wrap {
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-weight: 500;
  .radioset {
    display: flex;
    align-items: center;
    .radio_input {
      display: none;
      &:checked + .radio_ui .custom_radio::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        background-color: #888;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .radio_ui {
      display: flex;
      align-items: center;
      cursor: pointer;

      .custom_radio {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #e0e0e0;
        // border: 2px solid #888;
        border-radius: 50%;
        margin-right: 6px;
        position: relative;
      }
    }
  }
}

// 고객리뷰 상세
// 전체보기
// 전체보기 - 사장님 후기 section
.sub-title {
  font-size: 22px;
  font-weight: 600;
  margin: 100px 0 24px;
  color: #212121;
}
.ceo-title {
  margin: 24px 0 120px;
}
.customer-title,
.blog-title {
  margin: 24px 0 24px;
}
.ceo_review_wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  .mega_review {
    position: relative;
    padding: 45px 60px;
    width: 550px;
    height: 350px;
    background-color: #ffffff;
    border: 2px solid #e0e0e0;
    border-radius: 20px;
    // padding: 41px 61px 41px 50px;
    .mega_icon {
      width: 65px;
    }
    .ceo_info {
      margin-bottom: 40px;
    }
    .ceo_image {
      position: absolute;
      top: -130px;
      right: 10px;
      width: 260px;
      height: 260px;
      background-color: #ffffff;
      border-radius: 50%;
      overflow: hidden;
    }
    .ceo_image img {
      width: 100%;
      height: 100%;
      // background-color: pink;
    }
  }
  .mass_review {
    position: relative;
    padding: 45px 60px;
    width: 550px;
    height: 350px;
    background-color: #ffffff;
    border: 2px solid #e0e0e0;
    border-radius: 20px;
    // padding: 41px 61px 41px 50px;
    .mass_icon {
      width: 65px;
    }
    .ceo_info {
      margin-bottom: 40px;
    }
    .ceo_image {
      position: absolute;
      top: -130px;
      right: 10px;
      width: 260px;
      height: 260px;
      background-color: #ffffff;
      border-radius: 50%;
      overflow: hidden;
    }
    .ceo_image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // background-color: pink;
    }
  }
}

// 전체보기 - 고객님 후기 section
.customer_review_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 100px;
  .customer_review_box {
    border-radius: 2px;
    overflow: hidden;

    .customer_review_txt {
      width: 400px;
      height: 157px;
      padding: 30px 28px;
      background-color: #eeeeee;
      .txt_top {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

// 전체보기 - 블로그 후기 section
.blog_review_wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.blog_review_box {
  display: flex;
  gap: 20px;
  .txt_ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2; //보여줄 줄 수
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.6;
  }
  .blog_review_txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

// 사장님 후기만
.ceo_section {
  flex-wrap: wrap;
  row-gap: 180px;
  margin-bottom: 120px;
  .delivery_review {
    position: relative;
    padding: 45px 60px;
    width: 550px;
    height: 350px;
    background-color: #ffffff;
    border: 2px solid #e0e0e0;
    border-radius: 20px;
    .delivery_icon {
      width: 65px;
    }
    .ceo_info {
      margin-bottom: 40px;
    }
    .ceo_image {
      position: absolute;
      top: -130px;
      right: 10px;
      width: 260px;
      height: 260px;
      background-color: #ffffff;
      border-radius: 50%;
      overflow: hidden;
    }
    .ceo_image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // background-color: pink;
    }
  }
  .ediya_review {
    position: relative;
    padding: 45px 60px;
    width: 550px;
    height: 350px;
    background-color: #ffffff;
    border: 2px solid #e0e0e0;
    border-radius: 20px;
    .delivery_icon {
      width: 65px;
    }
    .ceo_info {
      margin-bottom: 40px;
    }
    .ceo_image {
      position: absolute;
      top: -130px;
      right: 10px;
      width: 260px;
      height: 260px;
      background-color: #ffffff;
      border-radius: 50%;
      overflow: hidden;
    }
    .ceo_image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // background-color: pink;
    }
  }
}

// 고객님 후기만
.customer_review_txt {
  .txt_bottom {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.review_moreBtn {
  display: block;
  margin: 60px auto 0px;
  width: 150px;
  height: 50px;
  border-radius: 9999px;
  border-style: none;
  border: 2px solid #e0e0e0;
  font-size: 16px;
  font-weight: 500;
  color: #424242;
  cursor: pointer;
  background-color: #ffffff;
}

// 반응형

@media (min-width: 370px) and (max-width: 767px) {
  .inner {
    max-width: 350px !important;
    margin: 0 auto;
    .review_subtitle {
      font-size: 14px;
      margin-bottom: 50px;
    }
    .review-title-box {
      padding-top: 100px;
    }
    .review-box-total {
      .review-box {
        max-width: 90%;
        flex: 1 1 100%;
        margin: auto;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .inner {
    margin: auto;
    max-width: 700px;
    .review_subtitle {
      font-size: 20px;
      margin-bottom: 65px;
    }
    .review-logo-box {
      margin: auto;
      .review-logo-top,
      .review-logo-bottom {
        margin: auto;
        width: 80%;
      }
    }
  }
  .review-box-total {
    .review-box {
      width: 100%;
      max-width: calc(50% - 8px);
      flex: 1 1 calc(50% - 8px) !important; // 2개씩 2줄로 보이게
      padding: 24px;

      .review-customer {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
        img {
          width: 34px;
        }
        .main-h6 {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
  // 상세페이지
  .banner_bg {
    margin-top: 120px;
    .banner_left {
      position: absolute;
      top: 0;
    }
  }
  .review_txt_wrap .txt_box {
    display: none;
  }
}
