$bingfree-main: #1456fd;
$bingfree-point: #e9ff54;
$bingfree-sub: #1651da;
$bingfree-price: red;
$bingprime-gray1-f5f5f5: #f5f5f5;
$bingprime-gray2-eeeeee: #eeeeee;
$bingprime-gray3-e0e0e0: #e0e0e0;
$bingprime-gray4-bdbdbd: #bdbdbd;
$bingprime-gray5-9e9e9e: #9e9e9e;
$bingprime-gray6-757575: #757575;
$bingprime-gray7-616161: #616161;
$bingprime-gray8-424242: #424242;
$bingprime-black-212121: #212121;
$bingprime-waiting: #0f71f2;
$bingprime-done: #5ab21a;
$bingprime-assigned: #f99b23;
$bingprime-all: #893bee;

$main-icon-drop: 2px 2px 4px 0px rgba(0, 0, 0, 0);
$main-icon-inner: 1px 1px 5px 0px rgba(255, 255, 255, 1),
  inset -3px -1px 10px 0px rgba(0, 0, 0, 0);
$sub-black: #212121;

.bingfree-main {
  color: $bingfree-main;
}
.bingfree-point {
  color: $bingfree-point;
}
.bingfree-sub {
  color: $bingfree-sub;
}
.main-icon-drop {
  box-shadow: $main-icon-drop;
}
.main-icon-inner {
  box-shadow: $main-icon-inner;
}

$mobile: 768px;
$tablet: 1024px;

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin text-style($size, $weight) {
  font-size: $size;
  font-weight: $weight;
  line-height: 1.2 !important;
  white-space: pre-line;
}

.main-h1 {
  @include text-style(50px, 700);
}
.main-h2 {
  @include text-style(38px, 600);
}
.main-h3 {
  @include text-style(30px, 600);
}
.main-h4 {
  @include text-style(24px, 500);
}
.main-h5 {
  @include text-style(22px, 400);
}
.main-h6 {
  @include text-style(20px, 400);
}
.profile-h1 {
  @include text-style(24px, 600);
}
.profile-h2 {
  @include text-style(18px, 500);
}
.profile-h3 {
  @include text-style(16px, 400);
}
.profile-h4 {
  @include text-style(14px, 400);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main-h1 {
    @include text-style(33px, 600);
  }
  .main-h2 {
    @include text-style(30px, 500);
  }
  .main-h3 {
    @include text-style(30px, 500);
  }
  .main-h4 {
    @include text-style(24px, 300);
  }
  .main-h5 {
    @include text-style(20px, 300);
  }
  .main-h6 {
    @include text-style(16px, 300);
  }
}
@media (max-width: 767px) {
  .main-h1 {
    @include text-style(30px, 600);
  }
  .main-h2 {
    @include text-style(24px, 500);
  }
  .main-h3 {
    @include text-style(20px, 500);
  }
  .main-h4 {
    @include text-style(16px, 300);
  }
  .main-h5 {
    @include text-style(16px, 300);
  }
  .main-h6 {
    @include text-style(15px, 700);
  }
}
